* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F0F2F4;
  font-family: 'Work Sans', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #0046BE;
  box-sizing: border-box;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 25px;
}

.logo img {
  width: px;
  height: 40px;
  margin-right: 10px;
}

#container {
  display: flex;
  margin: auto;
  width: 62%;
}

.body-head {
  display: flex;
  margin: auto;
  width: 60%;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 0;

}

.left-section {
  background-color: white;
  width: 65%;
  height: 200px;
  margin: auto;
}

.right-section {
  background-color: white;
  width: 30%;
  height: 200px;
  margin: auto;
}

.cart a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}